/* .main {
    height: calc(100vh);
} */
/* head */
.bgimg-my {
    /* position: relative; */
    background-size: 10rem;
    background-image: url('../../assets/images/my.jpg');
    margin-bottom: -30px;
}
.my-info {
    width: 10rem;
    height: 5.6rem;
}
.my-info-head {
    display: flex;
}
.my-info-name {
    display: flex;
}
.image-head {
    margin: 50px 10px 0 25px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-size: 50px, 50px;
    background-image: url('../../assets/images/头像.jpg');
}
.my-head-text {
    margin-top: 60px;
    font-size: 25px;
    color: #000;
    font: bold;
}
.my-info-icon {
    display: flex;   
    margin: 65px 0 0 85px
}
.icon-setting {
    
    height: 25px;
    width: 25px;
    background-size: 25px, 25px;
    background-image: url('../../assets/images/设置.png');
}
.icon-info {
    margin-left: 20px;
    height: 25px;
    width: 25px;
    background-size: 25px, 25px;
    background-image: url('../../assets/images/消息.png');
}
.my-info-head2 {
    margin-top: 45px;
    display: flex;
    text-align: center;
    font-size: 16px;
}
.head2-one {
    flex: 1;
}
.head2-border {
    flex: 1;
    border-left: 1px solid rgb(146, 143, 143);
    border-right: 1px solid rgb(146, 143, 143);
}
.head2-three {
    flex: 1;
}

/* one div */
.bookstore-order {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgb(91, 91, 102);
    margin: 0px 10px 0 10px;
}
.order-title {
    display: flex;
    font-size: 15px;
    border-bottom: 1px solid rgb(195, 195, 195);
    transform: calc(0.5)
}
.order-text {
    margin: 15px 180px 15px 15px;
    font-size: 16px;
    font: bold;
}
.order-whole {
    display: flex;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 15px;
}
.whole-border {
    margin-top: 5px;
    transform: rotate(-45deg);
    width: 8px;
    height: 8px;
    border-bottom: 2px solid rgb(155, 154, 154);
    border-right: 2px solid rgb(175, 174, 174);
}
.order-list {
    margin-top: 20px;
    display: flex;
}
.homeservice-img-my {
    width: 30px;
    height: 30px;
}
.homeservice-item-my {
    flex: 1;
    text-align: center;
}
.homeservice-text{
    font-size: 14px;
}

/* one box */
.service-box {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgb(91, 91, 102);
    margin: 10px;
    display: flex;
}
.service-left {
    flex: 1;
    text-align: center;
}
.service-mid {
    flex: 1;
    text-align: center;
}
.service-right {
    flex: 1;
    text-align: center;
}
.service-left-img1 {
    margin-left: 33px;
    margin-bottom: 5px;
    width: 47px;
    height: 47px;
    /* background-image: url('../../assets/images/service-img1.png'); */
}
.service-left-img2 {
    margin-left: 33px;
    margin-bottom: 5px;
    width: 47px;
    height: 47px;
    /* background-image: url('../../assets/images/service-img2.png'); */
}
.service-left-img3 {
    margin-left: 33px;
    margin-bottom: 5px;
    width: 47px;
    height: 47px;
    /* background-image: url('../../assets/images/service-img3.png'); */
}
.service-left-text {
    color: rgb(132, 134, 130);
}

/* my-auction */
.my-auction {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgb(91, 91, 102);
    margin: 10px;
}
.my-auction-content {
    display: flex;
}
.my-auction-left {
    margin: 15px 116px 15px 15px;
    font-size: 16px;
    font: bold;
}
.my-auction-right {
    display: flex;
    margin-top: 16px;
}
.my-auction-right-text{
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.4rem;
}
.my-auction-right-border {
    margin-top: 6px;
    transform: rotate(-45deg);
    width: 8px;
    height: 8px;
    border-bottom: 2px solid rgb(155, 154, 154);
    border-right: 2px solid rgb(175, 174, 174);
}

/* my-service */
.my-service {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgb(91, 91, 102);
    margin: 10px;
}

/* my-recommend */
.my-recommend {
    background-color: #fff;
    box-shadow: rgb(91, 91, 102);
}
.recommend-title {
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
}

/* more */
.more-my {
    width: 10rem;
    height: 1000px;
}