.container1{
    margin-top: 20px;
}
.title{
    width: 1.8rem /* 182/108 */;
    font-weight:bold;
    font-size: .4259rem /* 46/108 */;
    font-family: PingFangSC-medium;
}
.content {
    display: flex;
    margin-top: 5px;
}
.type-block {
    margin-right: 20px;
    width: 4.5rem;
    height: 5rem;
    border-radius: 10px;
    /* background-color: rgb(251, 249, 246); */
}
.type-block2 {
    width: 4.5rem;
    height: 5rem;
    border-radius: 10px;
    /* background-color: rgb(251, 249, 246); */
}
.block-type {
    margin-right: 20px;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(251, 249, 246);
    border-radius: 10px;
}
.book-name {
    align-items: center;
    display: flex;
    border-radius: 5px;
    width: 100%;
    height: 20%;
    background-color: rgb(175, 138, 84);
}
.block-title {
    margin-left: 10px;
    font-size: 20px;
}
.describe{
    margin-left: 5px;
    font-size: 10px;
}
.tpye-list-box{
    display: flex;
}
.tpye-list {
    width: 50%;
    height: 80%;
    color: rgb(63, 62, 62);
    padding: 10px;
    font-size: 12px;
}
.block-type2 {
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(251, 249, 246);
    border-radius: 10px;
}
.tpye-list-box p{
    margin-top: 8px;
}
.book-name2 {
    align-items: center;
    display: flex;
    border-radius: 5px;
    width: 100%;
    height: 20%;
    background-color: rgb(74, 124, 137);
}