.detail-bookimg {
    margin: 50px 40px 0 40px;
    /* align-items: center; */
    width: 288px;
    height: 288px;
}
.detail-bookimg img {
    width: 100%;
    height: 100%;
}
.detail-price {
    margin-top: 50px;
}
.detaile-bookinfo {
    background-color: #fff;
    height: 8rem;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
.detaile-bookname, .detaile-bookauthor {
    font-size: 26px;
}
.detaile-bookauthor {
    margin: 20px 0;
}
.detail-price-text {
    color: red;
    font-size: 25px;
}
.detail-price{
    position: fixed;
    bottom: 30px;
    display: flex;
}
.detail-price-img{
    position: absolute;
    right: -70px;
    width: 35px;
    height: 35px;
}
.detail-price-img img {
    width: 100%;
    height: 100%;
}
.detail-price button {
    width: 100px;
    color: white;
    border-radius: 8px;
    margin-left: 20px;
    border: none;
    background-color: rgb(212, 140, 104);
}
